.page-wrap {
  display: flex;
/*  padding: 0px 0px 20px 0px; */
  flex-flow:row wrap;
}

/*
.page-wrap > *{
flex: 1 50%;
}*/

aside {
 
  background-color: white;
  display: flex;
  /*height: 80px;*/
 /* justify-content: space-between; */
  padding: 20px;
  /*top: 0;*/
  width: 30%;
  flex-direction: column;
  flex : 1 0 50px;
  font-size: 20px;
}
aside h1{
  font-size: 200%;
  color: #13ca75;
  margin-top: .25em;
}

aside h2{
  font-size: 150%;
  color: yellow;
  background-color: #13ca75;
  width: 50%;
}

section {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex : 1 1 500px;
 /* justify-content: space-between;*/
 /* padding: 20px 40px; */
  width: 70%;
 /* margin: 2em; */
  font-size: 20px;
}

section h3{
  font-size: 120%;
  color: #13ca75; 
}

section h2{
  color: #13ca75; 
}

/*
@media screen and (min-width: 700px) {
.page-wrap { flex: 1; }
section	{  }
aside {
    flex-basis: auto;
}
}*/

#food-text {
  font-weight: bold;
  color: #13ca75;
}

#contact {
  font-size: 15px;
  font-style: italic;
}

span {
  color: red;
}

div {
  margin-bottom: .25em;
}

#vlidationMsgs {
  color: red;
  margin-bottom: .25em;
}

@media all and (min-width: 700px) {
  .page-wrap{
      flex: 3;
  }
}
@media screen and (min-width: 500px) {
  aside {
      flex: 1;
  }
  section {
    padding: 0;
  }
}
