* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('../images/loginbg.jpg') center/cover no-repeat; /* Use a food-related background image */
    color: #fff; /* White text color */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

.lock-icon {
    font-size: 3rem;
    color: #e74c3c; /* Food-related color */
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
    color: #e74c3c; /* Food-related color */
}

p {
    font-size: 12px;
    color: #fff; /* White text color */
}

.passInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ff5722; /* A different food-related color */
    font-size: 15px;
    color: white;
    outline: none;
}

button {
    margin-top: 15px;
    width: 80%;
    background-color: #ff5722; /* A different food-related color */
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: #e74c3c; /* A different food-related color on hover */
}
